[submodule "odoo"]
	path = odoo
	url = https://github.com/odoo/odoo.git
	branch = 17.0
[submodule "custom-addons/odoo-modules"]
	path = custom-addons/odoo-modules
	url = https://github.com/muk-it/odoo-modules.git
	branch = 17.0
